body {
    margin: 0;
    background: #2c3e50;
    color: #fcfcfc;
    font-family: sans-serif;    
}

button {
    outline: none;
}

nav {
    background:#000;
    opacity: 0.2;
    top: 0;
    padding: 15px 0;
}

nav h3 {
    margin: 0;
    text-align: center;
}

.fa-user {
    font-size: 15px;
    margin: 0 5px;
}

.wrapper {
    width: 90%;
    margin: 50px auto 0 auto;
}

.wrapper > * {
    text-align: center;
}

.wrapper #name {
    font-size: 25px;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper #question {
    font-size: 40px;
}

.wrapper #translation {
    font-size: 25px;
    margin: 20px 0;
    opacity: 0.5;
}

#next  {
    background: #16a085;
    color: #fff;
    border: none;
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 3px;
    display: block;
    margin: 50px auto;
}

#next:hover {
    cursor: pointer;
}

#mobile {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 55px;
    width: 55px;
    background: #16a085;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    display: none;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.05);
}

@media (max-width: 650px) {
    #next {
        display: none;
    }
    #mobile {
        display: block;
    }
}